@tailwind base;
@tailwind components;
@tailwind utilities;

/* #homepage {
  background-image: url("./images/pic2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

button.primary {
  @apply bg-secondary text-primary font-bold  text-lg px-6 rounded-md py-2 hover:opacity-70 transition-all duration-300;
}

#loginSection {
  background-image: url("./images/ff1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
